* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::after {
    box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }

* {
  font-family: 'Fredoka', sans-serif; }

a {
  text-decoration: none;
  color: whitesmoke; }

.btn-ppal {
  color: whitesmoke;
  background-color: #2C97C8;
  border-color: #2C97C8;
  border-radius: 0.5rem;
  font-weight: Bold; }
  .btn-ppal:hover {
    color: whitesmoke;
    background-color: #32d3ab;
    border-color: #32d3ab; }

.btn-sec {
  color: whitesmoke;
  background-color: #525659;
  border-color: #525659;
  border-radius: 0.5rem; }
  .btn-sec:hover {
    color: whitesmoke;
    background-color: #303030;
    border-color: #303030; }

.bordesRedondeados {
  border-radius: 1.25rem; }

.zoomXs {
  transition: transform .4s; }
  .zoomXs:hover {
    transform: scale(1.2); }

.Background {
  background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  min-height: 100vh;
  min-width: 100vw; }

.navegador {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.navegador__items {
  justify-content: center; }

.navegador__items__item {
  display: flex;
  justify-content: center; }

.navegador__items__item--link {
  font-size: 20px; }

.navegador__items__item--logo {
  font-size: 25px;
  font-weight: bold; }

.proyectos {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.proyectos__cards {
  justify-content: center; }

.proyectos__cards--card {
  border-radius: 1.25rem;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 150px;
  background: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.hidden {
  display: none !important; }

.img-circle {
  border-radius: 50%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img {
  width: 75px;
  height: auto; }
  @media (min-width: 768px) {
    .img {
      width: 100px; } }

.sizeXl {
  width: 200px;
  height: auto; }
  @media (min-width: 768px) {
    .sizeXl {
      width: 300px; } }

.sizeXl-container {
  width: 250px;
  height: auto; }
  @media (min-width: 768px) {
    .sizeXl-container {
      width: 350px; } }

.bg-dark {
  background-color: #212529; }
  @media (min-width: 992px) {
    .bg-dark {
      background-color: transparent !important; } }

.nav-link {
  color: whitesmoke !important; }
  .nav-link:hover {
    color: #2b92c5 !important; }
