* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::after {
    box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }

* {
  font-family: 'Fredoka', sans-serif; }

a {
  text-decoration: none;
  color: whitesmoke; }

.btn-ppal {
  color: #f5f5f0;
  background-color: #054F5E;
  border-color: #054F5E;
  border-radius: 0.3rem; }
  .btn-ppal:hover {
    color: whitesmoke;
    background-color: #07748A;
    border-color: #07748A; }

.btn-sec {
  color: whitesmoke;
  background-color: #121212;
  border-color: #121212;
  border-radius: 0.3rem; }
  .btn-sec:hover {
    color: whitesmoke;
    background-color: #4D4D4D;
    border-color: #4D4D4D; }

.btn-third {
  color: #121212;
  background-color: #0DCAF0;
  border-color: #0DCAF0;
  border-radius: 0.3rem;
  font-weight: 550; }
  .btn-third:hover {
    color: #121212;
    background-color: #71E5F5;
    border-color: #71E5F5; }

.bordesRedondeados {
  border-radius: 1.25rem; }

.zoomXs {
  transition: transform .4s; }
  .zoomXs:hover {
    transform: scale(1.2); }

.Background {
  background: linear-gradient(90deg, #1E3C72 0%, #2A5298 100%);
  min-height: 100vh;
  min-width: 100vw; }

.bg-cards {
  background-color: #ffffff; }

.navegador {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.navegador__items {
  justify-content: center; }

.navegador__items__item {
  display: flex;
  justify-content: center; }

.navegador__items__item--link {
  font-size: 20px; }

.navegador__items__item--logo {
  font-size: 25px;
  font-weight: bold; }

.proyectos {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.proyectos__cards {
  justify-content: center; }

.proyectos__cards--card {
  border-radius: 1.25rem;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 150px;
  background: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.hidden {
  display: none !important; }

.img-circle {
  border-radius: 50%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img {
  width: 75px;
  height: auto; }
  @media (min-width: 768px) {
    .img {
      width: 100px; } }

.sizeXl {
  width: 200px;
  height: auto; }
  @media (min-width: 768px) {
    .sizeXl {
      width: 300px; } }

.sizeXl-container {
  width: 250px;
  height: auto; }
  @media (min-width: 768px) {
    .sizeXl-container {
      width: 350px; } }

.title-h1 {
  font-size: 1.5rem; }
  @media (min-width: 576px) {
    .title-h1 {
      font-size: 2.5rem; } }
  @media (min-width: 1200px) {
    .title-h1 {
      font-size: 3.5rem; } }
  @media (min-width: 1400px) {
    .title-h1 {
      font-size: 4.5rem; } }

.bg-dark-blur {
  background-color: #212529; }

.bg-blur {
  background-color: #212529; }
  @media (min-width: 992px) {
    .bg-blur {
      backdrop-filter: blur(15px);
      background-color: #1b1a2ea9;
      box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171); } }

.nav-link {
  color: whitesmoke !important; }
  .nav-link:hover {
    color: #2b92c5 !important; }
