$BackgroundColor: linear-gradient(90deg, #1E3C72 0%, #2A5298 100%);
$PaletaColores:(
    ppal: #054F5E,
    ppal-act: #07748A ,
    sec: #121212,
    sec-act: #4D4D4D,
    third: #0DCAF0,
    third-act: #71E5F5,
    cont: #ffffff,
    text: #f5f5f0
);