@import "variables";
@import "reset";
@import "typography";
@import "mixins";

a{
    text-decoration: none;
    color: whitesmoke;
}
.btn-ppal{
    color: map-get($map: $PaletaColores, $key: "text");
    background-color: map-get($map: $PaletaColores, $key: "ppal");
    border-color: map-get($map: $PaletaColores, $key: "ppal");
    border-radius: 0.3rem;
    &:hover{
        color: whitesmoke;
        background-color: map-get($map: $PaletaColores, $key: "ppal-act");
        border-color: map-get($map: $PaletaColores, $key: "ppal-act");
    }
}
.btn-sec{
    color: whitesmoke;
    background-color: map-get($map: $PaletaColores, $key: "sec");
    border-color: map-get($map: $PaletaColores, $key: "sec");
    border-radius: 0.3rem;
    &:hover{
        color: whitesmoke;
        background-color: map-get($map: $PaletaColores, $key: "sec-act");
        border-color: map-get($map: $PaletaColores, $key: "sec-act");
    }
}
.btn-third{
    color: map-get($map: $PaletaColores, $key: "sec");
    background-color: map-get($map: $PaletaColores, $key: "third");
    border-color: map-get($map: $PaletaColores, $key: "third");
    border-radius: 0.3rem;
    font-weight: 550;
    &:hover{
        color: map-get($map: $PaletaColores, $key: "sec");
        background-color: map-get($map: $PaletaColores, $key: "third-act");
        border-color: map-get($map: $PaletaColores, $key: "third-act");
    }
}
.btn-backend{
    color: whitesmoke;
    background-color: "#65A30D";
    border-color: "#65A30D";
    border-radius: 0.3rem;
    font-weight: 550;
    &:hover{
        color: whitesmoke;
        background-color: map-get($map: $PaletaColores, $key: "sec-act");
        border-color: map-get($map: $PaletaColores, $key: "sec-act");
    }
}
.bordesRedondeados{
    @include BordesRedondeados;
}
.zoomXs {
    transition: transform .4s;
    &:hover{
        transform: scale(1.2);
    }
}
.Background{
    background: $BackgroundColor;
    min-height: 100vh;
    min-width: 100%;
}
.bg-cards{
    background-color: map-get($map: $PaletaColores, $key: "cont");
}
.navegador{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.navegador__items{
    justify-content: center;
}
.navegador__items__item{
    display: flex;
    justify-content: center;
}
.navegador__items__item--link{
    font-size: 20px;
}
.navegador__items__item--logo{
    font-size: 25px;
    font-weight: bold;
}
.proyectos{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.proyectos__cards{
    justify-content: center;
}
.proyectos__cards--card{
    @include BordesRedondeados;
    @include BordesSombreados;
    width: 250px;
    height: 150px;
    background: whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hidden {
    display: none !important;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img{
    width: 75px;
    height: auto;
    @media (min-width: 768px){
        width: 100px;
    }
}
.img-icon{
    width: 24px;
    height: auto;
    @media (min-width: 768px){
        width: 32px;
    }
}
.sizeXl{
    width: 200px;
    height: auto;
    @media (min-width: 768px){
        width: 300px;
    }
}
.sizeXl-container{
    width: 250px;
    height: auto;
    @media (min-width: 768px){
        width: 350px;
    }
}
.title-h1{
    font-size: 1.5rem;
    @media (min-width: 576px){
        font-size: 2.5rem;
    }
    @media (min-width: 1200px){
        font-size: 3.5rem;
    }
    @media (min-width: 1400px){
        font-size: 4.5rem;
    }
}
.bg-dark-blur{
    background-color: #212529;
}
.bg-ppal{
    background-color: $BackgroundColor;
}
.bg-blur{
    background-color: #212529;
    @media (min-width: 768px){
        backdrop-filter: blur(15px);
        background-color: #1b1a2ea9;
        box-shadow: 0 10px 10px 0 rgba(9,5,29,.171);
    }
    
}
.nav-link{
    color: whitesmoke!important;
    transition: opacity 0.2s;
    &:hover{
        opacity: 40%;
    }
}
.offcanvas-end{
    width: 150px;
    @media (min-width: 425px){
        width: 250px;
    }
    @media (min-width: 576px){
        width: 400px;
    }
}